:root{
    --main-color: #2c3e50;
    --color:#a3b18a;
}
body{
    margin: 0px;
    box-sizing: border-box;
}
.upper{
    background-color: var(--main-color);
    height: 130vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.mainimg{
    height: 200px;
    margin: 0px;
}
h2{
    color: var(--color);
    font-size: 40px;
}
h3{
    font-size: 100px;
    color: var(--test);
}
.hh{
    font-size: 30px;
}
h1{
    font-size: 30px;
    color: var(--color);
}

.circle {
    position: relative;
    width: 250px;  
    height: 250px;
    margin-right: 60px;
    margin-top: -10px;
}
.item {
    text-decoration: none;
    position: absolute;
    color: var(--main-color);
    background: var(--color);
    padding: 4px 20px;
    border-radius: 20px;
    font-size: 20px;
    white-space: nowrap;
    transition: .7s;
    transform: translateX(17px) translateY(7px);
}
.item:hover{
    transform: scale(1.2) ;
    background: var(--main-color);
    color: var(--color);
}
@media (min-height:1000px) {
    .upper{
        height: 100vh
    }
    .upper *{
        transform: scale(1.7);
    }
    .circle *{
        transform: scale(1) translateY(100px);
    }
}