:root{
    --main-color: #2c3e50;
    --color:#a3b18a;
    --test: ;
}
body{
    margin: 0px;
    box-sizing: border-box;
}
.container{
    background-color: var(--main-color);
    width: 100%;
    height:110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    text-wrap: wrap;
}
h1{
    color: var(--color);
    font-size: 50px;
}
.mainimg{
    height: 25%;
}
.main-speach{
    color: var(--color);
    font-size: 40px;
    text-wrap: wrap;
    transform: translateX(30px);
}
.hacker{
    height: 30px;
}
h2{
    text-wrap: wrap;
    font-size: 30px;
    color: var(--color);
    transform: translateX(30px);
}
h3{
    color: var(--color);
    font-size: 30px;
    transform: translateY(-40px);
}
a img{
    height: 100px;
    transition: 1s;
    transform: translateY(-20px);
}
a{
    position: relative;
}
a::before{
    content: "click me";
    opacity:0;
    position: absolute;
    top: 88%;
    font-size: 40px;
    transition: 1s;
    transform: translate(0,100px);
    text-wrap: nowrap;
}
a:hover::before{
    opacity: 1;
    color: var(--color);
    top:-180px;
}
